/* ======================================================
   RESET CSS
====================================================== */

/* (Aquí pegas el reset de Josh Comeau) */



/* ======================================================
   VARIABLES
====================================================== */

:root {

    /* Colores */
    --color-primary: #2563EB;
    --color-dark: #050816;
    --color-surface: #111827;
    --color-white: #FFFFFF;
    --color-text: #D1D5DB;
    --color-border: rgba(255, 255, 255, .08);

    /* Tipografía */
    --font-primary: "Montserrat", sans-serif;

    /* Contenedor */
    --container: 1200px;

    /* Espaciados */
    --section-padding: 100px;

    /* Bordes */
    --radius: 18px;

    /* Transiciones */
    --transition: .35s ease;

}

/* ======================================================
   BASE
====================================================== */

html {

    scroll-behavior: smooth;

}

body {

    font-family: var(--font-primary);

    background: var(--color-dark);

    color: var(--color-white);

    overflow-x: hidden;

}

a {

    color: inherit;

    text-decoration: none;

}

ul {

    list-style: none;

}

button {

    border: none;

    background: none;

    cursor: pointer;

}

/* ======================================================
   UTILIDADES
====================================================== */

.container {

    width: min(92%, var(--container));

    margin: 0 auto;

}

section {

    padding: var(--section-padding) 0;

}

/* ======================================================
   BOTONES
====================================================== */

.btn-primary {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 16px 32px;

    border-radius: 999px;

    background: var(--color-primary);

    color: var(--color-white);

    font-weight: 600;

    transition: var(--transition);

}

 li .btn-primary:hover{
    background-color: rgb(255, 255, 255);
}
.btn-primary:hover {
    
    transform: translateY(-3px);

}

/*======================================================
HEADER
======================================================*/

#header{
    position: fixed;
    inset: 0 0 auto 0;
    width: 100%;
    z-index: 100;
    transition: .35s ease;
    
}

#header.scrolled{
    background: rgba(108, 108, 112, 0.85);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--color-border);
}

.navbar{
    padding: 20px 0;
}

.navbar .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/*=========================
LOGO
=========================*/
.logo img{

    height:120px;

    width:auto;

    object-fit:contain;

}
.logo{
    font-size:1.7rem;
    font-weight:800;
}

.logo span{
    color:var(--color-primary);
}

/*=========================
MENU DESKTOP
=========================*/

.nav-menu{
    display:flex;
    align-items:center;
    gap:2rem;
}

.nav-menu a{
    position:relative;
    transition:.3s ease;
}

.nav-menu a:not(.btn-primary)::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:var(--color-primary);

    transition:.3s;

}

.nav-menu a:hover::after{
    width:100%;
}

.nav-menu a:hover{
    color:var(--color-primary);
}

/*=========================
BOTON
=========================*/

.btn-primary{
    display:flex;
    align-items:center;
    gap:.6rem;
}

.btn-primary svg{
    width:18px;
    transition:.3s;
}

.btn-primary:hover svg{
    transform:translateX(5px);
}

/*=========================
HAMBURGUESA
=========================*/

.menu-toggle{

    width:48px;

    height:48px;

    display:none;

    align-items:center;

    justify-content:center;

    border-radius:14px;

    transition:.3s;

    color: #FFFFFF;
}

.menu-toggle:hover{

    background:rgba(255,255,255,.08);

}

.menu-toggle svg{

    width:28px;

    height:28px;

}

/*=========================
OVERLAY
=========================*/

.overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.55);

    backdrop-filter:blur(4px);

    opacity:0;

    visibility:hidden;

    transition:.35s;

    z-index:998;

}

.overlay.active{

    opacity:1;

    visibility:visible;

}

/*=========================
MENU MOVIL
=========================*/

.mobile-menu{

    position:fixed;

    top:0;

    right:-380px;

    width:340px;

    max-width:90%;

    height:100vh;

    background:#050816;

    padding:35px;

    display:flex;

    flex-direction:column;

    z-index:999;

    transition:.45s cubic-bezier(.22,.61,.36,1);

    border-left:1px solid rgba(255,255,255,.08);

}


.mobile-menu.active{

    right:0;

}

.close-menu{

    align-self:flex-end;

    width:48px;

    height:48px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:12px;

    transition:.3s;

    color: #FFFFFF;

}

.close-menu:hover{

    background:rgba(255,255,255,.08);

}

.close-menu svg{

    width:28px;

    height:28px;

}

.mobile-menu nav{

    margin-top:60px;

    display:flex;

    flex-direction:column;

    gap:28px;

}

.mobile-menu nav a{

    font-size:1.15rem;

    transition:.3s;

}

.mobile-menu nav a:hover:nth-child(6) {
   background-color: #FFFFFF;
}
.mobile-menu nav a:hover{


    color:var(--color-primary);

    transform:translateX(10px);

}

/*=========================
RESPONSIVE
=========================*/

@media(max-width:900px){

    .nav-menu{

        display:none;

    }

    .menu-toggle{

        display:flex;

    }
    

}   

body.menu-open{

    overflow:hidden;

}

/* ======================================================
   HERO
====================================================== */





/* ======================================================
   SERVICIOS
====================================================== */





/* ======================================================
   VIDEOS
====================================================== */





/* ======================================================
   MARCAS
====================================================== */





/* ======================================================
   CONTACTO
====================================================== */





/* ======================================================
   FOOTER
====================================================== */





/* ======================================================
   RESPONSIVE
====================================================== */
